<html>
    <head>
        <title> Clean Your Zooniverse Data! </title>
    </head>

    <br>
    <title> Clean your Zooniverse Data! </title>
    <br>
    <body> 
    <form action = "/main_program" method="post" enctype = "multipart/form-data" 
        <input type="file" name="input_file" />
        <input type="submit" />
    </form>


    </body>
    </hr>
    <button> there could be a button here to initiate processing of data </button>

    <body> Maybe preview data here </body>
  
</html>


<title> Example Form </title>

<form action = "http://localhost:5000/result" method "POST">
    <input type = "text" > </input>

</form>     
