<html>
    <head>
        <title> Clean Your Zooniverse Data! </title>
    </head>

    <br>
    <title> Clean your Zooniverse Data! </title>
    <br>
    <body> 
        <there will be a button here to upload a csv>
    </body>
    </hr>
    <button> there could be a button here to initiate processing of data </button>

    <body> Maybe preview data here </body>
  
</html>


<title> Example Form </title>

<form action = "http://localhost:5000/result" method "POST">
    <input type = "text" > </input>

</form>     
